.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__links {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    order: 0;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
}

.tabs__links>a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    text-align: center;
    color: #1976d2;
}

.tabs__links>a:hover {
    background-color: rgba(227, 242, 253, 0.3);
}

.tabs>#content-1:target~.tabs__links>a[href="#motherboard"],
.tabs>#content-2:target~.tabs__links>a[href="#cpu"],
.tabs>#content-3:target~.tabs__links>a[href="#ram"] {
    background-color: #bbdefb;
    cursor: default;
}

.tabs>div:not(.tabs__links) {
    display: none;
    order: 1;
}

.tabs>div:target {
    display: block;
}