<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add components</title>
    <link href="css/tabs.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
</head>
<body>
<h1>Добавление модулей</h1>

<div class="tabs">
    <div id="motherboard">
        <form method="post" action="/addcomponents/addMb" th:object="${mboard}">
            <div th:replace="fragments/types :: module(name ='caseFormFactor', values = ${caseFormsFactor})" />
            <div th:replace="fragments/types :: module(name = 'cpuSocket', values = ${cpuSockets})" />
            <div th:replace="fragments/types :: module(name = 'ramType', values = ${ramTypes})" />
            <div th:replace="fragments/types :: module(name = 'hddType', values = ${hddTypes})" />
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="add">
        </form>

        <table class="modules">
            <tr>
                <th>FormFactor</th>
                <th>Cpu socket</th>
                <th>Ram type</th>
                <th>Hdd type</th>
                <div th:replace="fragments/manufacturer :: tableTh" />
            </tr>
            <tr th:each="mb: ${motherboards}">
                <td th:text="${mb.caseFormFactor}" />
                <td th:text="${mb.cpuSocket}" />
                <td th:text="${mb.ramType}" />
                <td th:text="${mb.hddType}" />
                <span th:replace="fragments/manufacturer :: table(m = ${mb})" />
                <td><a th:href="@{/addcomponents/delMotherboard(id=${mb.id})}"> del </a> </td>
            </tr>
        </table>
    </div>

    <div id="cpu">
        <form action="/addcomponents/addCpu" method="post" th:object="${cpu}">
            <select name="cpuSocket">
                <option th:each="c: ${cpuSockets}" th:value="${c}" th:text="${c}" />
            </select><br>
            <div th:replace="fragments/manufacturer :: form" />
            <input type="submit" value="add CPU">
        </form>

        <table class="modules">
            <th>Socket</th>
            <div th:replace="fragments/manufacturer :: tableTh" />
            <tr th:each="c: ${cpuList}">
                <td th:text="${c.cpuSocket}" />
                <span th:replace="fragments/manufacturer :: table(m = ${c})" />
                <td><a th:href="@{/cpu/delcpu(id=${c.id})}"> del </a> </td>
            </tr>
        </table>
    </div>
    <div  id="content-3">
<!--        TODO: RAM add form append-->
    </div>
    <div class="tabs__links">
        <a href="#motherboard">Материнская плата</a>
        <a href="#cpu">Процессор</a>
        <a href="#content-3">Оперативная память</a>
    </div>
</div>

</body>
</html>