<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Configurator</title>
</head>
<body>
<H1>Add cpu</H1>

<form th:object="${cpu}" method="post" action="/cpu/add">
    <select th:field="*{cpuSocket}" name="socket">
        <option th:each="socket : ${T(com.example.computerConfigurator.blocks.CpuSocket).values()}"
                th:value="${socket}" th:text="${socket}"/>
    </select><br>
    <div th:replace="fragments/manufacturer :: form"></div>
    <input type="submit" value="add">

</form>


<h2>
    CPU
</h2>
<table>
    <tr>
        <th>socket</th>
        <th>vendor</th>
        <th>model</th>
        <th>price</th>
        <th>del</th>
    </tr>

    <tr th:each="cpu: ${cpuList}">
        <td th:text="${cpu.cpuSocket}"/>
        <span th:replace="fragments/manufacturer :: table(cpu = ${cpu})"></span>
        <td><a th:href="@{/cpu/delcpu(id=${cpu.id})}"> - </a> </td>
    </tr>
</table>
</body>
</html>